[input]
##NB we have only 2 evalueted data as we did not produce all data, unpolarized and ful computation
data-trans = /ceph/grid/home/atlas/jakobn/DNN-neutrino-reco/DNN-plots/mix_polariz_6var/mu_ewk_fullept_trans_lhe400000_eval.calibrated.h5
data-long = /ceph/grid/home/atlas/jakobn/DNN-neutrino-reco/DNN-plots/mix_polariz_6var/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5


[plotting]

binning =\-1,1.03125,0.03125
truth = 1
random-choice = 0
model-title = neu(.*)hid(.*)bat64(.*):\1 neurons, \2 hid. layers
normalize = 1

[legend]
entry = (.*):\1
ncol = 3
fontsize = 10

[output]
output-folder = /afs/f9.ijs.si/home/jakobn/DNN-plots/mix_polariz_6var

[selection]
discard = neu60hid20bat64
wildcard = neu*
#wildcard = *cos*,neu*
# wildcard = neu60hid3,neu60hid4,neu60hid6,neu60hid8
# wildcard = *neu*hid4*bat32*
type = reg6var
