[input]
##NB we have only 2 evalueted data as we did not produce all data, unpolarized and ful computation
#data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_costheta_mt2/trans_maos400000_eval.calibrated.h5
#data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_costheta_mt2/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5

# data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_costheta/mu_ewk_fullept_trans_lhe400000_eval.calibrated.h5
# data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_costheta/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5

data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_ful_lep_6var/trans_maos400000_eval.calibrated.h5
data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_ful_lep_6var/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5

#data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_6var_mt2/trans_maos400000_eval.calibrated.h5
#data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_6var_mt2/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5

# data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/ful_lep_6var_maos_testNA/trans_maos400000_eval.calibrated.h5
# data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/ful_lep_6var_maos_testNA/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5
#data-trans = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/cos-THETAS_newtest1406/trans_maos400000_eval.calibrated.h5
#data-long = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/evaluation/ful_lep_VBS_WWmuvev_phantom_1_6_nob/cos-THETAS_newtest1406/mu_ewk_fullept_long_lhe400000_eval.calibrated.h5

[plotting]

binning =\-1,1.03125,0.03125
truth = 1
model-title = neu(.*)hid(.*)bat64(.*):\1 neurons, \2 hid. layers
normalize = 1


[legend]
entry = (.*):\1
ncol = 3
fontsize = 10

[output]
output-folder = /Users/it058990/Desktop/MicheleG/PhD/VBS_COST_Group/GITBicocca/DNN_storage/plots/ful_lep_VBS_WWmuvev_phantom_1_6_nob/mix_polariz_mix_polariz_6var_ptvv

[selection]
discard = neu60hid10,neu40
#neu200hid20bat64
#neu60hid20bat64,neu60hid6bat64,neu200hid4bat64,neu200hid6bat64,neu60hid3bat64,neu60hid2bat64,neu200hid20bat64,neu60hid4bat64
#neu60hid20bat64
#,neu60hid6bat64,neu200hid4bat64,neu200hid6bat64,neu60hid3bat64,neu60hid2bat64,neu200hid20bat64,neu60hid4bat64
wildcard = neu
#*bat128
#wildcard = *cos*,neu*
# wildcard = neu60hid3,neu60hid4,neu60hid6,neu60hid8
# wildcard = *neu*hid4*bat32*
type = regneutrinos
#regcostheta
#regneutrinos
#regcostheta

